<div  fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
    <section >
      <form
      class="margin-form"
        #f = "ngForm"
        (ngSubmit) = "save(f.value)"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <mat-form-field hintLabel="You need title">
          <input
            #tit="ngModel"
            [(ngModel)] = "portfolio.title"
            name="title"
            matInput
            required
            placeholder="Title">
        </mat-form-field>
  
        <mat-form-field hintLabel="You need title">
          <textarea
            #tit="ngModel"
            [(ngModel)] = "portfolio.description"
            name="description"
            matInput
            required
            placeholder="Description">
        </textarea>
        </mat-form-field>
  
        <!-- <mat-form-field hintLabel="You need title">
            <input
              #tit="ngModel"
              [(ngModel)] = "portfolio.date"
              name="date"
              matInput
              required
              placeholder="Date"
              value="{{today | date}}"
              >
       
          </mat-form-field> -->


<!--          
            <mat-form-field class="example-full-width">
              <input 
              matInput
              [(ngModel)] = "portfolio.date"
              name="date"
              value="{{today | date}}"
             
            >
            </mat-form-field> -->
       
  
          <mat-form-field hintLabel="You must be over 18 years old.">
            <input
            matInput
            placeholder="Your birthdate"
            [matDatepicker]="picker"
            name="date"           
            [(ngModel)] = "portfolio.date"
            
             required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
 
          <mat-form-field>
              <input
                #image="ngModel"
                [(ngModel)] = "portfolio.imageUrl"
                name="imageUrl"
                matInput               
                value="imgSrc"
                placeholder="Image URL">
            </mat-form-field>
            <div>
            <button type="submit" mat-raised-button color="primary">Save</button>
         
          </div>
      </form>
  
  
    </section>
  
   
    </div>
  