 <div  fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutAlign="center center">
  <section>
    <form
      #f = "ngForm"
      (ngSubmit) = "save(f.value)"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px">
      <mat-form-field hintLabel="You need title">
        <input
          #tit="ngModel"
          [(ngModel)] = "product.title"
          name="title"
          matInput
          required
          placeholder="Title">
      </mat-form-field>
      <mat-form-field hintLabel="You need price">
        <input
        #price="ngModel"
        [(ngModel)] = "product.price"
         name="price"
        matInput
        required
        placeholder="Price"
        type="number"
        min="0"
        class="example-right-align">
        <mat-error>Incorrect price</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Choose category">
          <mat-select
          [(ngModel)] = "product.category"
          name="category"
          required
          placeholder="Category">
            <mat-option value="primary"></mat-option>
            <ng-container  *ngFor = "let c of categories$ | async">
                <mat-option [value] ="c.name">{{c.name}}</mat-option>
              </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input
              #image="ngModel"
              [(ngModel)] = "product.imageUrl"
              name="imageUrl"
              matInput
              required
              placeholder="Image URL">
          </mat-form-field>
          <div>
          <button type="submit" mat-raised-button color="primary">Save</button>
          <button type="submit" (click)="delete()" mat-raised-button color="warn">Delete</button>
        </div>
    </form>


  </section>

  <mat-card class="example-card" style="left: 20px">
    <mat-card-header>
      <mat-card-title>{{ tit.value }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ image.value }}" *ngIf="product.imageUrl" >
    <mat-card-content>
      <p>
        {{ price.value | currency: 'USD':true }}
      </p>
    </mat-card-content>

  </mat-card>
  </div>




